{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 100,
  "requirePragma": false
}
